[submodule "contrib/SFML"]
	path = contrib/SFML
	url = https://github.com/SFML/SFML
[submodule "contrib/GSL"]
	path = contrib/GSL
	url = https://github.com/Microsoft/GSL
[submodule "contrib/Catch2"]
	path = contrib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "contrib/FiraCode"]
	path = contrib/FiraCode
	url = https://github.com/tonsky/FiraCode
[submodule "contrib/incbin"]
	path = contrib/incbin
	url = https://github.com/graphitemaster/incbin
